@model TaskVersta.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Сервер столкнулся с ошибкой которую не знает как обработать</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Запроса:</strong> <code>@Model.RequestId</code>
    </p>
}
